.article {
    display: flex;
    flex-direction: column;
    gap: 3.47vw;
    width: 71.5vw;
}

.articlepart {
    display: flex;
    flex-direction: column;
    gap: 1.73vw;
}

.articleimages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1vw;
}

.article-image-l {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.article-image-s {
    width: 100% !important;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.96vw;
}

.breadcrumbs {
    display: flex;
    gap: 0.5vw;
    width: 100%;
    margin-bottom: -4vw;
}

.checklist {
    display: inline;
    background-color: white;
    width: 100%;
    padding: 2vw;
    border: 1.5px solid black;
    border-radius: 10px;
    white-space: normal;
}

.checklist-item, .checkbox {
    display: inline;
}

.checkbox {
    cursor: pointer;
    transition: color 0.1s ease;
}
.checklist-item.checked, .checkbox.checked {
    color: #FF4702;
}