@font-face {
  font-family: "SuisseIntlBook";
  src: url('fonts/SuisseIntl-Book.woff2') format('woff2');
}

@font-face {
  font-family: "SuisseIntlRegular";
  src: url('fonts/SuisseIntl-Regular.woff2') format('woff2');
}
