.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    width: calc(97.5vw - 4vw);
    height: 5.8vw;
    background-color: #F5F5F5;
    border: 1.5px solid black;
    border-radius: 100px;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
}

.header_text_wrapper {
    display: flex;
    gap: 1vw;
    width: 40%;  
}

.header_logo {
    width: 8vw;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

.search {
    display: flex;
    align-items: center;
    width: 25%; 
    height: 3vw;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 100px;
    padding: 0 1vw;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    height: 80%;
    font-family: 'SuisseIntlRegular';
    font-size: 1.15vw;
}

.search-icon {
    width: 1.38vw;
    height: 1.38vw;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
}

#headerlink {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: color 0.15s ease;
}

#headerlink:hover {
    color: #FF4702;
}

#headerlink.clicked {
    color: #FF4702;
    text-decoration: underline;
}

.header-mobile{
    display: none;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    position: fixed;
    width: 100%;
    padding: 5.1vw;
}

.mobile-logo{
    width: 30vw;
    height: 20vw;
}

.mobile-menu{
    width: 20vw;
    height: 20vw;
}

/* Burger Menu Styles */
#popup {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    z-index: 999;
    padding: 20px;
    padding-top: 30vw;
}

.popup {
    height: 100%;
}

.burger-main-links {
    display: flex;
    flex-direction: column;
    gap: 4vw;
    margin-bottom: 4vw;
}

.burger-main-links a {
    text-decoration: none;
    color: black;
}

.burger-menu-container {
    display: flex;
    flex-direction: column;
    gap: 4vw;
}

.burger-category-container {
    /* Add any specific styles if needed */
}

.burger-category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-arrow {
    margin-left: 2vw;
    transition: transform 0.3s ease;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
    cursor: pointer;
}

.burger-submenu-container {
    display: flex;
    flex-direction: column;
    margin-top: 4vw;
}

.burger-submenu-container a {
    display: block;
    text-decoration: none;
    color: black;
    padding-left: 3vw;
    margin-bottom: 4vw;
}

.burger-submenu-container a:last-child {
    margin-bottom: 0;
}

.mobile-menu-с{
    display: none;
}