.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    width: calc(97.5vw - 4vw);
    height: 5.8vw;
    background-color: #F5F5F5;
    border: 1.5px solid black;
    border-radius: 100px;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
}

.header_text_wrapper {
    display: flex;
    gap: 1vw;
    width: 40%;  
}

.header_logo {
    width: 8vw;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

.search {
    display: flex;
    align-items: center;
    width: 25%; 
    height: 3vw;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 100px;
    padding: 0 1vw;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    height: 80%;
    font-family: 'SuisseIntlRegular';
    font-size: 1.15vw;
}

.search-icon {
    width: 1.38vw;
    height: 1.38vw;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
}

#headerlink {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: color 0.15s ease;
}

#headerlink:hover {
    color: #FF4702;
}