.filters {
    display: flex;
    flex-direction: row;
    gap: 1.15vw;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1.5px solid black;
    border-radius: 100px;
    width: 13.5vw;
    height: 3.2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    cursor: pointer;
    transition: background-color 0.15s ease;
    user-select: none;
}

.filter:hover {
    background-color: #C8FF03;
}

.feed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    gap: 1vw 0px;
}

.filtergap {
    gap: 2.9vw;
}

.small-elements-tag-green {
    position: absolute;
    top: -0.5vw;
    right: -0.5vw;
    margin: 0;
    border: 1.5px solid black;
    z-index: 1;
    background-color: #C8FF03;
    color: black;
    text-decoration: none;
    padding: 0.35vw 0.5vw;
    border-radius: 100px;
}

.small-elements-tag-gray {
    position: absolute;
    top: -0.5vw;
    right: -0.5vw;
    margin: 0;
    border: 1.5px solid black;
    z-index: 1;
    background-color: #F5F5F5;
    color: black;
    text-decoration: none;
    padding: 0.35vw 0.5vw;
    border-radius: 100px;
}

.card{
    position: relative;
}