p {
    font-family: 'SuisseIntlRegular';
    font-size: 32px;
    letter-spacing: -1.5px;
}

.heading-l {
    font-family: 'SuisseIntlBook';
    font-size: 96px;
    letter-spacing: -1.5px;
}

.heading-m {
    font-family: 'SuisseIntlBook';
    font-size: 64px;
    letter-spacing: -1.5px;
}

.heading-xs {
    font-family: 'SuisseIntlBook';
    font-size: 36px;
    letter-spacing: -1.5px;
}

.heading-xxs {
    font-family: 'SuisseIntlRegular';
    font-size: 20px;
    letter-spacing: -1px;
}