@media screen and (min-width: 744px) and (max-width: 1024px) {
    .article {
        display: flex;
        flex-direction: column;
        gap: 4vw;
        width: 65vw;
    }

    .articlepart {
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }

    .article-image-l {
        border-radius: 8px;
    }

    .article-image-s {
        border-radius: 8px;
    }

    .content-center {
        gap: 4vw;
    }

    .checklist {
        padding: 2vw;
        border: 1px solid black;
        border-radius: 8px;
    }

}


@media screen and (max-width: 743px) {
    .article {
        display: flex;
        flex-direction: column;
        gap: 8vw;
        width: 89.8vw;
    }

    .articlepart {
        display: flex;
        flex-direction: column;
        gap: 6vw;
    }

    .articleimages {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4vw;
        width: 100%;
    }

    .article-image-l {
        width: 100%;
        border-radius: 7px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    }

    .article-image-s {
        width: 100%;
        border-radius: 7px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    }

    .checklist {
        width: 100%;
        padding: 4vw;
        border: 1px solid black;
        border-radius: 7px;
    }

    .breadcrumbs {
        display: flex;
        flex-direction: column;
        gap: 1vw;
    }
}