@media screen and (min-width: 744px) and (max-width: 1024px) {
    .footer {
        border-top: 1px solid black;
        margin-top: 8vw;
    }
}


@media screen and (max-width: 743px) {
    .footer {
        height: 30vw;
        border-top: 1px solid black;
        padding-left: 3.8vw;
        padding-right: 3.8vw;
        margin-top: 17.8vw;
    }
    
    .footer_logo {
        width: 30.5vw;
        height: 30.5vw;
    }

    .footer_text_wrapper {
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }
}