@media screen and (min-width: 744px) and (max-width: 1024px) {
    .content {
        gap: 8vw;
        margin-top: 12.8vw;
        width: 83.8vw;
    }

    .contentpart {
        gap: 4vw;
    }

    #mainContent {
        gap: 8vw;
    }

    .card {
        width: 27vw;
        height: 27vw;
        border-radius: 8px;
    }

    .cardimage {
        width: 100%;
        height: 19.6vw;
        border: 1px solid black;
        border-radius: 6px;
    }

    #searchResults {
        gap: 3.47vw;
    }

    #searchCardsContainer {
        gap: 1.73vw;
        row-gap: 30px;
    }

    #searchCardsContainer .card {
        width: 27vw;
    }

    .cover {
        border-radius: 8px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 27vw;
        height: 5.37vw;
        border: 1px solid black;
    }

    .button:hover {
        background-color: #C8FF03;
    }

    #loadMoreButton {
        transition: color 0.15s ease;
        cursor: pointer;
    }

    #loadMoreButton:hover {
        color: #FF4702;
    }

    .usefulbutton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 83.8vw;
        height: 33.6vw;
        border: 1px solid black;
        border-radius: 6px;
    }

    .overlay-image {
        width: 120%;
    }

}


@media screen and (max-width: 743px) {
    .content {
        display: flex;
        flex-direction: column;
        gap: 17.8vw;
        margin-top: 32vw;
        width: 89.8vw;
    }

    .contentpart {
        display: flex;
        flex-direction: column;
        gap: 7vw;
    }

    #mainContent {
        display: flex;
        flex-direction: column;
        gap: 17.8vw;
    }

    .card {
        width: 89.8vw;
        height: 89.8vw;
        padding: 4vw 4vw 6vw 4vw;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
    }


    .cardimage {
        height: 64.8vw;
        border: 1px solid black;
        border-radius: 5.5px;
    }

    #searchResults {
        display: flex;
        flex-direction: column;
        gap: 2.9vw;
    }

    #searchCardsContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5vw;
        row-gap: 30px;
    }

    #searchCardsContainer .card {
        width: 89.8vw;
    }

    .new_elements,
    .popular_elements {
        display: flex;
        flex-direction: column;
        gap: 5vw;
        justify-content: space-between;
    }

    .cover {
        width: 100%;
        border-radius: 7px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 79.6vw;
        height: 15.2vw;
        border: 1px solid black;
        border-radius: 100px;
    }

    .buttonwrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .usefulbutton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 89.8vw;
        height: 127vw;
        border: 1px solid black;
        border-radius: 7px;
    }

    .overlay-image {
        width: 108%;
    }
}